@tailwind base;
@tailwind components;
@tailwind utilities;

.Vue-Toastification__toast {
  padding: 12px 12px !important;
  border-radius: 5px !important;
  min-height: 30px !important;
  min-width: 240px !important;
}

.Vue-Toastification__toast-body {
  font-size: 14px !important;
}
